@import "tailwindcss";

.input {
  @apply w-full border border-gray-300 rounded-lg px-4 py-2.5
  focus:ring-2 focus:ring-blue-600 focus:outline-none transition;
}

@media print {
  /* Remove background + margins */
  body {
    margin: 0;
    background: white;
  }

  /* Hide app layout elements */
  nav,
  footer,
  button,
  .print-hidden {
    display: none !important;
  }

  /* Only show invoice */
  #invoice {
    width: 210mm;
    margin: 0 auto;
    box-shadow: none !important;
  }

  /* A4 page setup */
  @page {
    size: A4;
    margin: 10mm;
  }
}
